.sidenav-container {
    height: calc(100vh - 64px);
}

.content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-image: url('../../../assets/img/bg_aisle_blurred_2.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.full-width {
    width: 100%;
}
