<mat-toolbar color="primary">
  <button mat-icon-button (click)="isExpanded = !isExpanded">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>Planner+</h1>
  <button mat-button routerLink="/" background-color="accent">Home</button>
  <button *ngIf="authService.userData" mat-button name="logout" (click)="logout()" background-color="accent">Logout</button>
  <h1 *ngIf="authService.userData as user">Hello, {{user.displayName}}</h1>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #sidenav class="sidenav" mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item [routerLink]="['profile']" routerLinkActive="router-link-active">
        <span class="full-width" *ngIf="isExpanded">Profile</span>
        <mat-icon mat-list-icon>person</mat-icon>
      </mat-list-item>
      <mat-list-item [routerLink]="['employees']" routerLinkActive="router-link-active">
        <span class="full-width" *ngIf="isExpanded">Employees</span>
        <mat-icon mat-list-icon>people</mat-icon>
      </mat-list-item>
      <mat-list-item [routerLink]="['planning']" routerLinkActive="router-link-active">
        <span class="full-width" *ngIf="isExpanded">Pers. Planning</span>
        <mat-icon mat-list-icon>event</mat-icon>
      </mat-list-item>
      <mat-list-item [routerLink]="['dep_planning']" routerLinkActive="router-link-active">
        <span class="full-width" *ngIf="isExpanded">Dep. Planning</span>
        <mat-icon mat-list-icon>event_note</mat-icon>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
