<mat-card>

    <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let element" class="cell"> {{element.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="surname">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Surname</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.surname}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.phone}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.email}}
            </mat-cell>
        </ng-container>

        a-md-data-table-column
        <!-- press ctrl + space to add more column snippet or delete this line -->

        <!-- press ctrl + space to add more column snippet or delete this line -->

        <!-- press ctrl + space to add more column snippet or delete this line -->

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let element; columns: displayedColumns;" [routerLink]="['/profile/', element.uuid]">
        </mat-row>
    </mat-table>
</mat-card>