<mat-card>
    <mat-card-title>Email verification</mat-card-title>
    <mat-card-content *ngIf="authService.userData as user">
        <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
        <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
        <button type="button" mat-button (click)="authService.SendVerificationMail()">
            <i class="fas fa-redo-alt"></i>
            Resend Verification Email
          </button>
    </mat-card-content>
</mat-card>